<nav>

      <ul class="breadcrumb">
        <% if (locals.isLoggedIn) { %>
          <div class="l-in">
          <li>
              <a href="/">Home</a>
            </li>
          <li>
            <a href="/workspaces">Workspaces</a>
            </li>
          <li>
              <a href="/users/<%= locals.user._id %>/workspaces">My Workspaces</a>
              </li>
          <li>
            <a href="/workspaces/new">Add a new workspace</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </div>
        <% } else { %>
          <li>
            <a href="/login">Log In</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
