<div class="container">
  <h1><%= title %></h1>
<ul>
  <% workspace.forEach(workspace => { %>

<li><a href="/workspaces/<%= workspace._id %>"><%= workspace.name %></a></li>

<% }); %>
</ul>
</div>


<%# note from nat%>
