<div class="container" id="new">
<div id="newheading">

<h1>Add a new workspace.</h1>
</div>

<div id="newtable">

</div>
<form method="post" action="/workspaces">
  <div class="form-group row">
  <label for="name" class="col-2 col-form-label">Name</label>
  <div class="col-10">
  <input type="text" id="name" name="name">
</div>
</div>
<div class="form-group row">
  <label for="website" class="col-2 col-form-label">Website</label>
  <div class="col-10">
  <input type="text" id="website" name="website">
</div>
</div>

<div class="form-group row">
  <label for="description" class="col-2 col-form-label">Description</label>
  <div class="col-10">
  <textarea id="description" name="description"></textarea>


</div>


  <input type="submit" value="Submit">
</form>
</div>
