<div class="container" id="new">
<div id="newheading">

<h1>Add a new workspace.</h1>
</div>

<form method="post" action="/workspaces">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="website">Website</label>
  <input type="text" id="website" name="website">

  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>

  <input type="submit" value="Submit">
</form>
</div>
