<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link rel="stylesheet" href="/css/main.css">

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/js/client.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
</head>

<body class="body">
  <div class="img">

  </div>
  <header>
    <% include ./partials/navbar %>
  </header>
  <main>
  <% for (const type in messages) { %>
    <p class="alert alert-<%= type %>"><%= messages[type] %></p>
  <% } %>
    <%- body %>

  </main>
  <footer class="footer">
    Made by DJM'88. Developed at General Assembly, London. All complaints forward to Alex Chin.
  </footer>

</body>


</html>

<%# //views is the etemplates of how things should look,%>

<%# //Layout is the mothership, the main guy/gal of layouts.%>
