<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>
<form  method="POST" action="/login" class="centered background">
  <div class="w-40 form-group text">
    <label for="email" class:"text">Email </label>
    <input type="email" class="form-control" id="email" name="email" placeholder="email">
  </div>
  <div class="w-40 form-group text">
    <label for="password" class:"text">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="password">
  </div>
  <button type="submit" class="text btn btn-default">Submit</button>
</form>
